.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper:first-letter {
  color: #660101;
  font-size: 1.5em;
}

.spriteImageAndreas {
  left: 0px;
  border: 1px solid;
  width: 5rem;
  height: 12rem;
  background: url(/images/andreas-sprite.png) no-repeat;
  background-size: 1700%;
  animation: play 2s steps(16) infinite;
}

.catAndUrsula {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.spriteImageUrsula {
  border: 1px solid;
  width: 5rem;
  height: 5rem;
  background: url(/images/ursula-sprite.png) no-repeat;
  background-size: 2400%;
  animation: play 2s steps(23) infinite;
}

.spriteImageCat {
  border: 1px solid;
  width: 5rem;
  height: 3.5rem;
  background: url(/images/cat-sprite.png) no-repeat;
  background-size: 6100%;
  animation: play 10s steps(60) infinite;
}

.spriteImagePiero {
  position: fixed;
  right: 0px;
  top: 0px;
  border: 1px solid;
  width: 15rem;
  height: 15rem;
  background: url(/images/piero-sprite.png) no-repeat;
  background-size: 6200%;
  animation: play 10s steps(61) infinite;;
}

.spriteImageMargarete {
  position: fixed;
  left: 0px;
  bottom: 0px;
  border: 1px solid;
  width: 7rem;
  height: 13rem;
  background: url(/images/margarete-sprite.png) no-repeat;
  background-size: 1400%;
  animation: play 1.7s steps(13) infinite;;
}

@keyframes play {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.sprites {
  position: fixed;
  z-index: -100;
}