.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: antiquewhite;
  padding: 0.3rem;
  margin: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.textWrapper:first-letter {
  color: #660101;
  font-size: 1.5em;
}

.spriteImageAndreas {
  left: 0px;
  width: 5rem;
  height: 12rem;
  background: url(/images/andreas-sprite.png) no-repeat;
  background-size: 1700%;
  animation: play 2s steps(16) infinite;
}

.catAndUrsula {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.spriteImageUrsula {
  width: 5rem;
  height: 5rem;
  background: url(/images/ursula-sprite.png) no-repeat;
  background-size: 2400%;
  animation: play 2s steps(23) infinite;
}

.spriteImageCat {
  width: 5rem;
  height: 3.5rem;
  background: url(/images/cat-sprite.png) no-repeat;
  background-size: 6100%;
  animation: play 10s steps(60) infinite;
}

.spriteImagePiero {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 15rem;
  height: 15rem;
  background: url(/images/piero-sprite.png) no-repeat;
  background-size: 6200%;
  animation: play 10s steps(61) infinite;;
}

.spriteImageMargarete {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 7rem;
  height: 13rem;
  background: url(/images/margarete-sprite.png) no-repeat;
  background-size: 1400%;
  animation: play 1.7s steps(13) infinite;;
}

@keyframes play {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.sprites {
  position: fixed;
  z-index: -100;
}

.informationImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-height: 400px;
  z-index: -100;
}

.informationContainer {
  padding: 1rem;
  background-image: url(/images/Letter.png);
  margin: 1rem;
  width: max(45vw, 300px);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.informationText {
  font-weight: lighter;
  font-size: 0.8rem;
}
.informationText img {
  height: 4rem;
}
.informationText b {
  color: #660101;
}
.informationText:first-letter {
  color: #660101;
}
.informationHeading {
  border: 1px solid;
  color: #660101;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canonicalHoursTitle {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 762px) {
  .informationHeading {
  }
}